/* Add here all your css styles (customizations) */
button[type=button].bs-placeholder {
    background-color: #f5f5f5 !important;
}
em.invalid {
    display: block;
    margin-top: 6px;
    padding: 0 1px;
    font-style: normal;
    line-height: 15px;
    color: #a94442;
}

.modal {
    z-index: 10001
}

/* Google plus */
.g-bg-yelp {
    background-color: #fd7e14;
}

.u-block-hover:hover .g-bg-yelp--hover, .g-bg-yelp--hover:hover {
    background-color: #fd7d14 !important;
}
