/*body, p, div {*/
    /*color: #393939;*/
    /*font-size: 10px;*/
    /*line-height: normal;*/
    /*font-family: verdana, arial, helvetica, sans-serif;*/
    /*text-decoration: none;*/
/*}*/

.global-header p, .global-header div, .global-header a, .global-header input, #footer p, #footer div, #footer a, #footer input {
    font-family: arial, helvetica, sans-serif;
    font-size: 11px;
}

div.clear {
    clear: both;
}

.height-5 {
    height: 5px;
}

.height-7 {
    height: 7px;
}

.height-10 {
    height: 10px;
}

.height-15 {
    height: 15px;
}

.height-20 {
    height: 20px;
}

.hidden {
    display: none !important;
}

.nowrap {
    display: inline;
    white-space: nowrap;
}

div.main-content {
    padding-top: 10px;
}

div.main-content h1 {
    font-family: arial, helvetica, sans-serif;
    font-size: 32px;
    line-height: 32px;
}

a {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 10px;
    color: #900;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h3 a:hover, h3 a:visited, h3 a, h3 a:active, h3 a:link {
    text-decoration: none;
}

a.standard, a.standard:visited, a.standard:hover {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 10px;
    color: #900;
    text-decoration: none;
}

a.standard:hover {
    text-decoration: underline;
}

div.global-header {
    position: static;
    width: 970px;
    margin: 0 auto;
    padding-top: 11px;
    background-color: #FFF;
    cursor: default;
}

div.shopper-greeting {
    padding-right: 16px;
    color: #393939;
}

div.shopper-greeting ul {
    list-style-image: none;
    list-style-type: none;
    text-align: right;
}

div.shopper-greeting ul>li {
    display: inline;
    line-height: 18px;
    vertical-align: middle;
    zoom: 1;
    font-size: 11px;
}

div.shopper-greeting ul>li.last {
    padding-left: 3px;
}

div.shopper-greeting ul>li>a {
    color: #393939;
}

div.shopper-greeting ul>li.last a {
    padding: 0;
    color: #900;
}

div.shopper-greeting ul>li>span, div.shopper-greeting ul>li>a {
    padding: 0 3px;
}

div.global-header div.left-side {
    float: left;
    padding: 16px 0 0 16px;
}

div.global-header div.left-side div.logo {
    width: 211px;
    height: 26px;
}

div.global-header div.left-side div.promo {
    padding-top: 9px;
}

div.global-header div.right-side {
    float: right;
    text-align: right;
    padding: 13px 18px 0 0;
}

div.global-header div.right-side div.promo {
    height: 31px;
    margin: 5px 0;
    padding-top: 9px;
    position: relative;
    left: 3px;
}

div.global-header div.promo, div.global-header div.promo a {
    color: #393939;
    line-height: 12px;
}

div.global-header div.promo a {
    text-decoration: underline;
}

div.global-header div.promo strong {
    color: #900;
    font-size: 12px;
}

div.global-header div.right-side div.promo strong {
    position: relative;
    right: 3px;
}

div.global-header div.intl-shopping {
    height: 30px;
    padding-top: 20px;
}

div.global-header div.intl-shopping img {
    margin-right: 5px;
}

div.global-header div.intl-shopping span {
    color: #666;
    text-decoration: underline;
}

div.global-header div.intl-shopping a:hover {
    text-decoration: none;
}

#topnav {
    height: 26px;
    z-index: 100;
    background: #FFF url(/themes/pink/images/common/bgrd/topnav-bottom-rule-bg.gif) no-repeat bottom left;
}

#topnav>ul {
    list-style-type: none;
    height: 26px;
    position: relative;
    z-index: 100;
}

#topnav li.tab {
    float: left;
    height: 25px;
    margin-top: 1px;
    margin-right: 6px;
}

#topnav li.tab>div {
    float: left;
    height: 25px;
    background: url(/themes/pink/images/common/bgrd/top-navigation-bg-sprite.png) no-repeat left top;
}

#topnav li.tab>div.left {
    width: 3px;
}

#topnav li.tab:hover>div.left {
    background-position: left -75px;
}

#topnav li.tab>div.right {
    width: 7px;
    background-position: left -50px;
}

#topnav li.tab:hover>div.right {
    background-position: left -125px;
}

#topnav li.tab>ul {
    list-style-type: none;
    padding: 0 11px 0 13px;
    float: left;
    border-top: solid 1px #D7D7D7;
    height: 24px;
    background: url(/themes/pink/images/common/bgrd/top-navigation-bg-sprite.png) repeat-x left -26px;
}

#topnav li.tab:hover>ul {
    background-position: left -101px;
}

#topnav li.tab>ul>li, #topnav li.tab>ul>li>h3 {
    font: bold 12px Arial;
    color: #838383;
}

#topnav li.tab>ul>li {
    height: 19px;
    padding: 4px 13px 1px 0;
    float: left;
    cursor: default;
    background: url(/themes/pink/images/common/bgrd/top-navigation-bg-sprite.png) no-repeat right -311px;
}

#topnav li.tab>ul>li.primary {
    text-transform: uppercase;
}

#topnav li.tab>ul>li.expanded {
    background-position: right -344px;
}

#topnav li.tab>ul>li.leaf {
    padding-left: 15px;
    padding-right: 15px;
    background: none;
    display: block;
}

#topnav li.tab>ul>li.first {
    text-transform: uppercase;
    display: block;
}

#topnav li.tab>ul>li>h3 {
    display: inline;
}

#topnav li.tab.active {
    margin-top: 0;
    height: 26px;
}

#topnav li.tab.active>ul {
    height: 30px;
    padding-left: 0;
    border-top: solid 1px #BBB;
    background-image: none;
    background-color: #fff;
}

#topnav li.tab.active>div {
    height: 26px;
    background: url(/themes/pink/images/common/bgrd/top-navigation-bg-sprite.png) no-repeat;
}

#topnav li.tab.active>div.left {
    width: 3px;
    background-position: 0 -150px;
}

#topnav li.tab.active>div.right {
    width: 7px;
    background-position: 0 -212px;
}

#topnav li.tab.active>ul>li>h3 {
    color: #5E5E5E;
}

#topnav li.tab.active>ul>li {
    padding-left: 13px;
    padding-top: 9px;
    color: #5E5E5E;
    height: 20px;
    background: url(/themes/pink/images/common/bgrd/top-navigation-bg-sprite.png) no-repeat right -244px;
}

#topnav li.tab.active>ul>li.expanded {
    background-position: right -276px;
}

#topnav li.tab.active>ul>li.leaf {
    background: none;
    padding-right: 1px;
}

#topnav li.tab.active>ul>li.more {
    background-image: none;
    min-width: 39px;
    padding-left: 5px;
    padding-right: 1px;
    color: #900;
}

#topnav div.menubar {
    display: none;
    /*width: 1000px;*/
    height: 284px;
    position: absolute;
    left: 0;
    top: 26px;
    z-index: 99;
    /*background: url(/themes/pink/images/common/bgrd/top-navigation-menubar-bg.png);*/
    /*background: #ECEBDE;*/
}

#topnav div.menubar, #topnav div.menubar div.menu {
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

#topnav div.menubar div.menu {
    height: 283px;
    position: relative;
    padding-left: 0;
    background-color: #fff;
    border: solid 1px #C7C7C7;
    border-top: 0;
    overflow: hidden;
}

#topnav div.menubar div.menu.cols-1 {
    width: 167px;
}

#topnav div.menubar div.menu.cols-2 {
    width: 334px;
}

#topnav div.menubar div.menu.cols-3 {
    width: 501px;
}

#topnav div.menubar div.menu.cols-4 {
    width: 668px;
}

#topnav div.menubar div.menu.cols-5 {
    width: 835px;
}

#topnav ul.column {
    float: left;
    width: 162px;
    height: 252px;
    margin: 15px 0 0 0;
    border-right: 1px solid #eee;
    list-style-type: none;
    background-color: #fff;
}

#topnav ul.column li {
    font-weight: normal;
    letter-spacing: normal;
    text-transform: none;
}

#topnav ul.column li.sub-heading, #topnav ul.column li.sub-heading h4 {
    color: #767676;
    font-weight: bold;
    font-size: 11px;
    font-family: arial, helvetica, sans-serif;
}

#topnav ul.column li.sub-heading {
    padding-left: 15px;
    color: #767676;
    text-transform: uppercase;
    margin: 0 0 4px 0;
}

#topnav ul.column li.sub-heading.first {
    margin-top: auto;
}

#topnav ul.column li>span {
    background-color: #f0f0f0;
    color: #454545;
    font-weight: bold;
}

#topnav ul.column li>span>img {
    padding-right: 5px;
}

#topnav ul.column li>a {
    font-size: 11px;
    font-family: arial, helvetica, sans-serif;
    display: block;
    line-height: 12px;
    padding: 1px 4px 1px 20px;
    margin-bottom: 4px;
    color: #9b9b9b;
    text-decoration: none;
}

#topnav ul.column li>a:hover, #topnav ul.column>li.selected>a:hover {
    background-color: #f0f0f0;
    color: #454545;
    margin-left: 3px;
    padding-left: 17px;
}

#topnav ul.column.last {
    border-right: none;
    width: 164px;
}

#topnav ul.column.last>li>a:hover, #topnav>ul>li.tab div.menu ul.column.last>li.selected>a:hover {
    margin-right: 0;
}

#topnav ul.column li.selected>a {
    background-color: #f0f0f0;
    color: #363636;
    background: url(/themes/pink/images/common/bgrd/top-navigation-menu-carat-selected.png) no-repeat 7px 4px;
}

#topnav ul.column li.selected>a:hover {
    background-position: 4px 4px;
}

#topnav.noscript li.tab>ul>li:hover .menubar {
    display: block;
}

#topnav.noscript li.tab>ul>li .menubar .menu {
    float: left;
}

#top-navigation-divider {
    width: 970px;
    height: 1px;
    z-index: 1;
    position: absolute;
    top: 139px;
    background: #b7b7b7 url(/themes/pink/images/common/bgrd/top-navigation-divider-gradient.gif) no-repeat 612px top;
}


/*reset.css*/
ol, ul {
    list-style: none;
}

.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    font-size: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
}

*

/
.clearfix {
    display: inline-block;
}

/* Hides from IE-mac \*/
* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
    zoom: 1;
}

/* End hide from IE-mac */
.hidden {
    display: none;
}

/*Discount menu*/
button#discount-button {
    background-color: #DF0403;
    border: 1px solid #DF0403;
    color: white;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 24px;
    margin-top: 1px;
    padding: 0 8px 0 8px;
    position: relative;
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 4px 4px 0 0;
    -webkit-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -o-transition: all 0.218s;
    transition: all 0.218s;
    -moz-user-select: none;
    border-image: initial;
}
button#discount-button:hover {
    background-color: #9A0100;
    border: 1px solid #9A0100;
}
