<html>
<HEAD>
    <TITLE>Quên mật khẩu</TITLE>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</HEAD>

<body>
<h1>Quên mật khẩu</h1>
    #if($firstName)
    <p>Xin chào ${firstName}</p>
    #else
    <p>Chào bạn</p>
    #end

<p>Đây là mật khẩu tạm thời mà bạn yêu cầu từ http://${domain}.</p>

<p>Mật khẩu tạm thời: ${tempPassword}</p>

Vì mục đích bảo mật, mật khẩu này chỉ sử dụng một lần. Sau khi bạn đăng nhập bạn được yêu cầu thay đổi mật khẩu chính.<br>

Nếu có thắc mắc về tài khoản và mật khẩu, xin vui lòng <a href="http://${domain}/lien-he.html">email</a>.<br><br>


Cảm ơn,<br>
${domain}

</body>
</html>