<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/spring/applicationContext.xml /WEB-INF/spring/applicationContext-security.xml
        </param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
    </listener>
    <listener>
        <listener-class>com.easysoft.ecommerce.web.listener.ServiceLocatorHolderSetupServletContextListener
        </listener-class>
    </listener>
    <listener>
        <listener-class>com.easysoft.ecommerce.web.listener.UserSessionCleanListener</listener-class>
    </listener>

    <filter>
        <filter-name>encoding-filter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>multipartFilter</filter-name>
        <filter-class>org.springframework.web.multipart.support.MultipartFilter</filter-class>
    </filter>
    <filter>
        <filter-name>httpMethodFilter</filter-name>
        <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
    </filter>
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <!--TODO: comments if don't need.-->
    <!--<filter>-->
    <!--<filter-name>autoDetectClientTimeZoneFilter</filter-name>-->
    <!--<filter-class>com.easysoft.ecommerce.web.filter.AutoDetectClientTimeZoneFilter</filter-class>-->
    <!--</filter>-->
    <filter>
        <filter-name>context-filter</filter-name>
        <filter-class>com.easysoft.ecommerce.web.filter.RequestContextFilter</filter-class>
    </filter>
    <!--<filter>-->
        <!--<filter-name>error-context-filter</filter-name>-->
        <!--<filter-class>com.easysoft.ecommerce.web.filter.ErrorPageRequestContextFilter</filter-class>-->
    <!--</filter>-->
    <filter>
        <filter-name>wro-filter</filter-name>
        <filter-class>ro.isdc.wro.http.WroFilter</filter-class>
        <init-param>
            <param-name>gzipResources</param-name>
            <param-value>FALSE</param-value>
        </init-param>
        <init-param>
            <param-name>configuration</param-name>
            <param-value>DEVELOPMENT</param-value>
        </init-param>
        <init-param>
            <param-name>jmxEnabled</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>header</param-name>
            <param-value>Vary: Accept-Encoding</param-value>
        </init-param>
        <init-param>
            <param-name>managerFactoryClassName</param-name>
            <param-value>com.easysoft.ecommerce.web.filter.VersionawareServletContextAwareWroManagerFactory
            </param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>urlrewrite-filter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ExpiresFilter</filter-name>
        <filter-class>fr.xebia.servlet.filter.ExpiresFilter</filter-class>
        <init-param>
            <param-name>ExpiresByType text/css</param-name>
            <param-value>access plus 10 years</param-value>
        </init-param>
        <init-param>
            <param-name>ExpiresByType text/javascript</param-name>
            <param-value>access plus 10 years</param-value>
        </init-param>
        <init-param>
            <param-name>ExpiresByType application/x-shockwave-flash</param-name>
            <param-value>access plus 10 years</param-value>
        </init-param>
        <init-param>
            <param-name>ExpiresByType image</param-name>
            <param-value>access plus 10 years</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>setup-rewritten-uri-holder-filter</filter-name>
        <filter-class>com.easysoft.ecommerce.web.filter.SetupRewrittenURIHolderFilter</filter-class>
    </filter>
    <filter>
        <filter-name>sitemesh-filter</filter-name>
        <filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>encoding-filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>multipartFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>httpMethodFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- Temporary disable autodetect client timezone
   <filter-mapping>
     <filter-name>autoDetectClientTimeZoneFilter</filter-name>
     <url-pattern>/*</url-pattern>
   </filter-mapping>
    -->
    <filter-mapping>
        <filter-name>context-filter</filter-name>
        <url-pattern>/*</url-pattern>
        <!--<url-pattern>//*</url-pattern>-->
        <!--<url-pattern>*.html</url-pattern>-->
        <!--<url-pattern>*.js</url-pattern>-->
        <!--<url-pattern>*.css</url-pattern>-->
        <!--<url-pattern>j_spring_security_check</url-pattern>-->
        <!--<url-pattern>j_spring_security_logout</url-pattern>-->
    </filter-mapping>
    <!--<filter-mapping>-->
        <!--<filter-name>error-context-filter</filter-name>-->
        <!--<url-pattern>/*</url-pattern>-->
        <!--<dispatcher>ERROR</dispatcher>-->
    <!--</filter-mapping>-->
    <filter-mapping>
        <filter-name>wro-filter</filter-name>
        <url-pattern>/wro/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>urlrewrite-filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ExpiresFilter</filter-name>
        <url-pattern>*.swf</url-pattern>
        <url-pattern>*.jpg</url-pattern>
        <url-pattern>*.gif</url-pattern>
        <url-pattern>*.png</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>setup-rewritten-uri-holder-filter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>sitemesh-filter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>

    <servlet>
        <servlet-name>dispatcher-servlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/spring/applicationContext-mvc.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>robots-txt-servlet</servlet-name>
        <servlet-class>com.easysoft.ecommerce.web.servlet.RobotsTXTServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sitemap-xml-servlet</servlet-name>
        <servlet-class>com.easysoft.ecommerce.web.servlet.SiteMapXMLServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher-servlet</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dispatcher-servlet</servlet-name>
        <url-pattern>*.wpt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dispatcher-servlet</servlet-name>
        <url-pattern>*.json</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>robots-txt-servlet</servlet-name>
        <url-pattern>/robots.txt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sitemap-xml-servlet</servlet-name>
        <url-pattern>/sitemap.xml</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!--<error-page>-->
        <!--<exception-type>java.lang.Throwable</exception-type>-->
        <!--<location>/syserror.jsp</location>-->
    <!--</error-page>-->
    <!--<error-page>-->
        <!--<exception-type>java.lang.Exception</exception-type>-->
        <!--<location>/syserror.jsp</location>-->
    <!--</error-page>-->
    <error-page>
        <error-code>404</error-code>
        <location>/syserror.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error500.jsp</location>
    </error-page>

</web-app>